@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
   
}
.body{
  
  max-width: 1024px;
margin: 0 auto;
 background: rgb(0, 0, 0); 
}
.header-container{


     background: linear-gradient(185.00deg, rgb(35, 35, 35),rgba(255, 255, 255, 0) 100%); 
}
.nav-container {
    max-width: 100%;
    margin: 0 auto;
    
    color: rgb(237, 7, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.fitness-header {
    font-size: 36px;
    font-weight: 700;
}

.nav-left {
    display: flex;
    list-style: none;
}

.nav-left li {
    margin-right: 20px;
}

.nav-left a {
    text-decoration: none;
    color: white;
    visibility: visible;
}

.nav-left{
    
    padding:  4px 10px;
    text-align: center;
    border-radius: 40px;
}
.nav-icon {
    display: none;
}

.nav-icon img {
    width: 30px;
    cursor: pointer;
}
.home{border-radius: 46px;
padding: .3rem .4rem;
    background: rgb(230, 83, 60);}
.banner-section{
   max-width:100%;
   /* background-color: blue; */
  max-height: fit-content;
    color: white;
    display: flex;
   
    margin: 3rem auto;
}
    .banner-left{
        width: 50%;
       
        margin: 3rem auto;
    }
    .banner-left h5{
        font-size:3.15rem;
      /* width: 40rem; */
    }
    .banner-left p{
        width:21.9rem;
       margin: .9rem .1rem;
       word-spacing: 5px;
    }
    .shape{
        font-family: 'Dancing Script', cursive;
        font-size: 3.5rem;
        font-weight: 50;
     

    }

    .ptn-primary{
        margin-top:2rem;
        margin-left: 1rem;
        border-radius: 3rem;
        padding: .5rem 1rem;
        background-color: rgb(255, 20, 20);
        border: none;
        color: aliceblue;
    }
    .blank{
        background-color: rgb(32, 32, 32);
        border: 2px dashed wheat;
    }
    .banner-right{

/*          */
        width: 45%;
        margin: 0 auto;
        background-image: url("./images/Images\ 2.png");
        background-repeat: no-repeat;
        /*  */
height: 500px; ;
/* background-color: bisque; */
    }
    

    .btn-free{

        padding:1.5rem .5rem;
     /* Rectangle 13 */
position: absolute;
margin: 1rem auto;
width: 9.4rem;
height: 5rem;
left:51.25rem;
top:16.25rem;
background: rgba(255, 255, 255, 0.1);
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);

color: antiquewhite;
    }
    .btn-free1{
display: flex;

      
     /* Rectangle 13 */
position: absolute;
align-items: center;

width: 10rem;
height: 5rem;
left:30.25rem;
top:29rem;
background: rgba(255, 255, 255, 0.1);
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
margin: 1rem auto;
color: antiquewhite;
    }

.play-btn{
    visibility: hidden;
}
.circle{
    visibility: visible;
    margin-left: 15px;
}

/* habit */
.habit-container{
    max-width: 950px;
    
    margin: 4rem auto;
   text-align: center;
    align-items: center;
    justify-content: center;
}
.habit-details{
width:70%;
margin: 0 auto;
color: aliceblue;
}
.habit-details p{
    margin: 1rem 0;
}

.team-container{
    color: aliceblue;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}
.pic-tem{
   
}
.pic-teams{
   width: 6rem;
   border-radius: 50px;
}
.team1{
max-width: 20%;
text-align: center;

}
.team1 p{
    font-size: 10px;
    margin-top: 10px;
}
/* run */
.run-container{
    max-width: 950px;
    height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(69, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px;
    color: aliceblue;
    gap: 40px;
}
.run-left{
    max-width: 50%;
}
.run-right{
    max-width: 40%;
   
}
.run-right img{
    width: 200px;
    height: 180px;
    border-radius: 20px;

}
.button{
    width: 50%;
}

/* bmi */
.bmi-container{
    max-width: 1024px;
   
    text-align: center;
   color: aliceblue;
    margin: 30px auto;
}
.bmi-paragraph{
    max-width: 70%;
    margin: 20px auto;

}
.bmi-calculator{
    height: 350px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculator-left{
    max-width: 50%;
    margin: 0 auto;
}
.calculator-left h3{
    margin-bottom: 20px;
}
.calculator-right{
max-width: 50%;
margin: 0 auto;


}

.table table{
    border-collapse: collapse; 
}
.table th, .table td, .table tr {
    border: 2px solid #ddd; 
    padding: 10px;
   
}
#height,#weight,#age,#sex {
    padding:8px;
    border-radius: 10px;
    border: none;
    margin: 10px 5px;
    
}
#age{
   
}
#sex{
   width: 200px;
}
#factor{
    width: 400px;
    padding:8px;
    border-radius: 10px;
    border: none;
    margin: 10px 5px;
}

.calculator-btn{
    margin-top:.4rem;
 width: 200px;
 display: flex;
 justify-content: center;
 margin-left:3.25rem;
    border-radius: 3rem;
    padding: .5rem 1rem;
    background-color: rgb(255, 20, 20);
    border: none;
    color: aliceblue;
}
@media screen and (max-width: 576px) {
    .nav-container{margin: 0 auto;
    

}
    .nav-icon {
        display: block;
    }
    .nav-left {
        display: none;
    }
    .banner-section,.team-container {
      
      
         flex-direction: column;
         align-items: center;
     }
     .banner-right,.banner-left {
        width: 100%;
        
       
     }
     .banner-right{
        height: 500px;
     }
    
     .btn-free{

        padding:1.5rem .5rem;
     /* Rectangle 13 */
position: relative;
margin: 0 auto;
width: 9.4rem;
height: 5rem;
left:18rem;
top:16.25rem;

    }
    .btn-free1{
display: flex;

      
     /* Rectangle 13 */
position: relative;

width: 10rem;
height: 5rem;
left:-8rem;
top:20.25rem;


    }
    .play-btn{
        visibility: visible;
        margin-right: 2rem;
    }
.circle{
    visibility: hidden;
}
.team1 h6,p{
    margin-left: 5px;
}

.run-container{
    max-width: 350px;
    height: 550px;
 
    flex-direction: column;
    color: aliceblue;
    gap: 20px;
  
}
.button{width: 90%;}
.run-right img{
    
    width: 250px;
    margin-left: -30px;
}

.bmi-calculator{
    height: 900px;
flex-direction: column;
 
}

#factor{
    width: 200px;
    padding:4px;
   
    margin: 10px 1px;
}
.calculator-btn{
    margin-left: 1rem;
    width: 100px;
}
}
